<a href="{{href}}"
  class="ui-btn {{#if type}}ui-btn_{{type}}{{/if}} {{#if color}}ui-btn_{{color}}{{/if}} {{#if size}}ui-btn_font-size-{{size}}{{/if}}"
  style="{{style}};{{#if width}}max-width:{{width}}px;{{/if}}"
>{{label}}</a>
